html /deep/ {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100%;
}

html /deep/ *, 
html /deep/ *:before, 
html /deep/ *:after {
  box-sizing: border-box;
}

html /deep/ body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0px;
  padding: 0px;
  transition: none;
}

html /deep/ h1 {
  font-size: 10vh;
}
