html /deep/ {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100%;
}

html /deep/ *, 
html /deep/ *:before, 
html /deep/ *:after {
  box-sizing: border-box;
}

html /deep/ body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4vh;
  color: #333;
  margin: 0px;
  padding: 0px;
  transition: none;
}

html /deep/ h1 {
  font-size: 8vh;
}
html /deep/ h2 {
  font-size: 6vh;
}
html /deep/ h3 {
  font-size: 4vh;
}
html /deep/ h4,
html /deep/ h5, 
html /deep/ h6 {
  font-size: 3vh;
}

html /deep/ pre {
  font-size: 3vh;
  border: none;
}