html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100%;
}

*, 
*:before, 
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4vh;
  color: #333;
  margin: 0px;
  padding: 0px;
  transition: none;
}

h1 {
  font-size: 8vh;
}
h2 {
  font-size: 6vh;
}
h3 {
  font-size: 4vh;
}
h4,
h5, 
h6 {
  font-size: 3vh;
}

pre {
  font-size: 3vh;
  border: none;
}

x-counter {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

x-controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -120px; 
}